<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<h1>MyPhotoAlbum <small>Make your albuns easily</small></h1>
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Home</a>
			<a class="navbar-brand" href="/albums">Albums</a>
			<a class="navbar-brand" href="/encomendas">Encomendas</a>
			<a class="navbar-brand" href="/albumsimpressao">Albums para Impressao</a>
		</div>
	</div>
</nav>