<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<style type="text/css">
	.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
      animation: dot 1.3s infinite;
      animation-delay: 0.2s;
}

.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
     animation: dot 1.3s infinite;
     animation-delay: 0.3s;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}
</style>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
		<% if (user.id !== undefined){%>
			<div align="right">
				<h4>Bem Vindo, <%=user.name%></h4><a href="/logout">Sair</a>
			</div>
		<% }%>
	</header>

	<main>
		<div class="jumbotron">
			<h4>Preco da Encomenda:</h4> Obtendo preço<span class="one">.</span><span class="two">.</span><span class="three">.</span></p>
			<form id="orderform" action="/order/confirm" method="post">
				<input type="hidden" id="order" name="order" value="<%=order.id%>">
				<input type="submit" name = "resposta" value="Confirmar" id="btn-order" ></input> 
				<input type="submit" name = "resposta" value="Cancelar" id="btn-order" ></input> 
			</form>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>